Build the random forest model after normalizing the variable to house pricing from boston dataset.

In [1]:
import os
import pandas as pd
from urllib import request

In [2]:
## Download Data
boston_data_url = 'http://lib.stat.cmu.edu/datasets/boston'
file_path = os.path.join("data", "boston.txt")
response = request.urlretrieve(boston_data_url, file_path)

## Clean Data - this data contains header information, so this needs to seperate from data.
with open(file_path, "r") as f:
    data_with_header = f.readlines()

In [3]:
data = data_with_header[22:]

data_ln11 = []
data_ln3 = []

for line in data:
    remove_whitespace = line.strip()
    split_string = remove_whitespace.split(" ")
    remove_empty_string = [s for s in split_string if s != '']
    n = len(remove_empty_string)
    if n == 11:
        data_ln11.append(remove_empty_string)
    elif n == 3:
        data_ln3.append(remove_empty_string)
    else:
        print(remove_empty_string)

print(len(data_ln11), len(data_ln3))

506 506

In [4]:
## Create DataFrame 
df = pd.concat([pd.DataFrame(x) for x in [data_ln11, data_ln3]], axis=1)
df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98,24.00
1,0.02731,0.00,7.070,0,0.4690,6.4210,78.90,4.9671,2,242.0,17.80,396.90,9.14,21.60
2,0.02729,0.00,7.070,0,0.4690,7.1850,61.10,4.9671,2,242.0,17.80,392.83,4.03,34.70
3,0.03237,0.00,2.180,0,0.4580,6.9980,45.80,6.0622,3,222.0,18.70,394.63,2.94,33.40
4,0.06905,0.00,2.180,0,0.4580,7.1470,54.20,6.0622,3,222.0,18.70,396.90,5.33,36.20

In [5]:
## Save the data into csv file format
df.to_csv(os.path.join(os.path.dirname(file_path), 'boston.csv'), index=False)